@model IlseLeijten.Models.ContactViewModel
@{
    ViewBag.Title = "Contact";
}

<fieldset>
    <legend><span class="glyphicon glyphicon-envelope"></span>&nbsp;Leave a message.</legend>
    @using (Html.BeginForm("Send", "Contact"))
    {
        @Html.ValidationSummary()
        <p class="label">First Name:</p>
        <p>@Html.TextBoxFor(m => m.FirstName, new { @class = "inputField img-rounded" })</p>
        <p class="label">Last Name:</p>
        <p>@Html.TextBoxFor(m => m.LastName, new { @class = "inputField img-rounded" })</p>
        <p class="label">Phone Number:</p>
        <p>@Html.TextBoxFor(m => m.PhoneNumber, new { @class = "img-rounded" })</p>
        <p class="label">Email address:</p>
        <p>@Html.TextBoxFor(m => m.Email, new { @class = "inputField img-rounded" })</p>
        <p class="label">Subject:</p>
        <p>@Html.TextBoxFor(m => m.Subject, new { @class = "subject img-rounded" })</p>
        <p class="label">Message:</p>
        <p>@Html.TextAreaFor(m => m.Message, new { @cols = 80, @rows = 10, @class = "img-rounded" })</p>
        <input type="submit" value="Submit" class="btn btn-primary" />
    }
</fieldset>
