<nav id="navigation">
    <ul id="menu">
        <li class="@ViewBag.Welcome">@Html.ActionLink(Resources.Website.Navigation_Welcome, "Index", "Home")</li>
        <li class="@ViewBag.About">@Html.ActionLink(Resources.Website.Navigation_About, "About", "Home")</li>
        <li class="@ViewBag.Paintings">@Html.ActionLink(Resources.Website.Navigation_Paintings, "Paintings", "Home")</li>
        <li class="@ViewBag.Links">@Html.ActionLink(Resources.Website.Navigation_Links, "Links", "Home")</li>
        <li class="@ViewBag.Contact">@Html.ActionLink(Resources.Website.Navigation_Contact, "Contact", "Home")</li>
    </ul>
</nav>
