@model Core.Model.Painting

@using (Html.BeginForm("Add", "Paintings", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend><span class="glyphicon glyphicon-pencil"></span>&nbsp;New painting.</legend>

        <div class="editor-label">
            @Html.LabelFor(m => m.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Year)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Year)
            @Html.ValidationMessageFor(m => m.Year)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.FileName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.FileName)
            @Html.ValidationMessageFor(m => m.FileName)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<div>
    <a href="@Url.Action("Add", "Picture")" title="Add Picture">
        <span class="glyphicon glyphicon-picture"></span>&nbsp;Add Picture
    </a>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
